::ng-deep .dialog-container-projects .mat-dialog__container {
    width: 53.125rem;
}

:host {
    padding: 0.6rem 2rem;
    display: flex;
    flex-direction: column;

    header, h3, p, mat-dialog-content{
        margin: 0 0 1rem;
        padding: 0;

    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 1.3rem;
            padding: 0;
            margin: 0;
            color: var(--black-010);
        }

        button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
        }
    }

    h3 {
        font-size: 1.1rem;
        color: var(--black-010);
    }

    article {
        margin-bottom: 1rem;

        p {
            font-size: 1rem;
        }
    }

    nav {
        display: flex;
    }
}