<header>
    <!-- <img 
        class="perfil"
        src="/assets/img/erik.svg"
        alt="Erik Proença - Foro de Perfil"
        loading="eager"
    /> -->
    <img 
        src="assets/img/erik.jpeg" 
        alt="" 
        class="perfil"
    >
    <h1>Erik Proença</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack Javascript | React | Angular | NodeJs | Python </p>
        <p>Desenvolvedor de Software</p>
        <p>São Paulo, SP, Brasil</p>
        <p> 
            Atuo como desenvolvedor de software há mais de {{currentYear - 2020}} anos. Participando de vários projetos, tive a oportunidade de trabalhar com muitas linguagens e resolvi me especializar em JS e PYTHON. 
        </p> 
        <nav>
            <ul>
                <li>
                    <a 
                        class="btn btn-primary"
                        href="" 
                        target="_blank">
                        <img 
                            src="assets/img/download.svg" 
                            alt="Ícone de Download" 
                            width="20px" 
                            height="20px"  
                            loading="eager" 
                        />
                        Download Curriculo
                    </a>
                </li>
                <li>
                    <a 
                        class="btn btn-secondary"
                        href="https://www.linkedin.com/in/erikproenca/" 
                        target="_blank">
                        <img 
                        src="assets/img/linkedin.png" 
                        alt="Linkedin" 
                        width="20px" 
                        height="20px" 
                        loading="eager" 
                    />
                        LinkedIn
                    </a>
                </li>
                    
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/img/WhatsApp.png" 
                    alt="Icone para contato do Whatsapp"
                    width="20px" 
                    height="20px"
                >
                <figcaption>
                    <a 
                        href="https://api.whatsapp.com/send?phone=5511986165932" 
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong> +55 11 986165932
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img 
                    src="assets/icons/mail.svg" 
                    alt="Icone para contato por e-mail"
                    width="20px" 
                    height="20px"
                >
                <figcaption>
                    <a 
                        href="mailto:erik.proenca2011@gmail.com" 
                        target="_blank">
                        <strong>Envie um e-mail para:</strong> erik.proenca2011&#64;gmail.com
                    </a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>